<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
         <p>
          <strong></strong><a href="http://www.hlbhcz.com/assets/images/keeppuresmile.jpg" target="_blank"></a>分享技术，品味人生，改变命运。
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>我的微信公众号：Yvan2Life<strong></strong></li>
        </ul>

        

       <h2>
       
       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你,请我吃个王思聪牌的汉堡！
       </p>

       <p align="center">

       <img src="http://www.hlbhcz.com/assets/images/yvan-wx-receive-code.jpg" />
       <img src="http://www.hlbhcz.com/assets/images/yvan-alipay-code.jpg" />
       
       <br/>
            
         <!-- <img src="http://www.hlbhcz.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.hlbhcz.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       

</div>