<div class="about row">
    <div class="col-md-12">
       <h2>About me </h2>
        <br/>
         <p>
          <strong>个人公众号</strong>：<a href="http://www.hlbhcz.com/assets/images/keeppuresmile.jpg" target="_blank"></a>，“分享技术、感悟人生”欢迎关注
        </p>

        <h2>Contact</h2>

        <p><strong>Personal</strong></p>
        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
            <li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>
            <li>我的微信：<strong></strong></li>
        </ul>

        

       <h2>
       
       <h2>
         Donate
       </h2>

       <p>
         如果我的文章帮助了你,请我吃个王思聪牌的汉堡！
       </p>

       <p align="center">

       <img src="http://www.ityouknow.com/assets/images/tip.jpg" />
       <br/>微信扫一扫
            
         <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         
          <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
       </p>

        <!-- Comments -->
       <div class="comment">
         {% include comments.html %}
       </div>
    </div>

</div>